.Dictionary {
    font-weight: bold;
}

.Dictionary section {
    background-color: rgba(188, 146, 243, 0.9);
    margin: 20px auto;
    padding: 10px;
    border-radius: 16px;
    max-width: 500px;
}

.Dictionary .form-section {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 40px;
    padding: 15px 50px;
}

.Dictionary input {
    width: 100%;
    border-radius: 8px;
    background-color: #bcf8b5;
    font-size: 30px;
    text-align: center;
}

.Dictionary .hint {
    font-size: 13px;
    margin-top: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 0.5;
}